@import '_variables.scss';

html, * {
	margin: 0;
	padding: 0;
}

h2, 
h3, 
h5, 
h6 {
	font-family: $header-family;
	font-size: $header-size;
}

h4,h1 {
	font-family: $header-family;
	font-size: $med-size;
	color: $dark-pink;
}

h2 { color: #fff; }

h1 { 
	font-size: $header-size; 
	font-weight: 600;
}

span,
p {
	font-family: $content-family;
	font-size: $content-size;
}

span {color: $dark-pink;}

section {
	margin-top: 90px;
}

.section-item-title {
	text-align: center;
	margin-bottom: 5%;
	
	.about-title {
		color: $dark-pink;
	}
}

.contact-container {
		p { color: #fff; }
	.contact-item {
		p {
			color: #fff;

			a {
				color: #000;
			}
		}		
	}
}

.navbar-nav {
	.nav-item {
		.nav-link {
			color: #fff;
		}
	}
}

